.nav__bar {
  background-color: #323232;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.nav__bar h1 {
  font-size: 40px;
  margin-left: 50px;
  color: #E9C335;
}

.nav__bar--buttons {
  position: absolute;
  left: 80%;
}
.nav__bar--buttons a {
  text-decoration: none;
  color: #E9C335;
  margin: 15px;
  font-size: 20px;
}

@media (max-width: 360px) {
  .nav__bar {
    background-color: #323232;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .nav__bar h1 {
    font-size: 25px;
    margin-left: 15px;
    color: #E9C335;
  }

  .nav__bar--buttons {
    position: absolute;
    left: 70%;
    display: flex;
    flex-direction: row;
  }
  .nav__bar--buttons a {
    text-decoration: none;
    color: #E9C335;
    margin: 15px;
    font-size: 15px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Koulen", cursive;
}

.main {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.main select {
  width: 200px;
  height: 25px;
}

@media (max-width: 360px) {
  .main {
    display: flex;
    justify-content: center;
    margin: 15px;
  }
  .main select {
    width: 90px;
    height: 25px;
    margin-bottom: 10px;
  }
}
button {
  width: 70px;
  height: 30px;
  background-color: #E9C335;
  border-radius: 5px;
}

button:hover {
  background-color: #DCCA6B;
}

.btn-details {
  width: 30%;
  margin: 0 auto;
  border: 1px solid #323232;
  cursor: pointer;
  border-radius: 20px;
}

.btn-details:hover {
  background-color: #DCCA6B;
}

.details-button {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.btn-card_detail {
  display: flex;
}
.btn-card_detail .btn_card {
  width: 150px;
  height: 30px;
  margin: 10px 5px;
}
.btn-card_detail .btn_card:hover {
  background-color: #DCCA6B;
}
.btn-card_detail .delete {
  background-color: #ee2e31;
}
.btn-card_detail .delete:hover {
  background-color: #ff3c38;
}

.edit {
  display: none;
}

.leap-frog {
  --uib-size: 50px;
  --uib-speed: 2.5s;
  --uib-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.leap-frog__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.leap-frog__dot::before {
  content: "";
  display: block;
  height: calc(var(--uib-size) * 0.22);
  width: calc(var(--uib-size) * 0.22);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.leap-frog__dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5) infinite;
}

.leap-frog__dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  33.333% {
    transform: translateX(0) rotate(180deg);
  }
  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }
  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
.container__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  margin: 20px;
  padding: 15px;
  background-color: rgb(240, 238, 238);
  border-radius: 10px;
  box-sizing: content-box;
  filter: drop-shadow(-1px 0px 5px #868585);
  overflow: auto;
}
.card span {
  text-align: center;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}
.card p {
  margin: 10px;
  font-size: 15px;
}
.card .loader {
  margin: 5px;
  padding: 2px 0px;
  border: black 1px solid;
  border-radius: 5px;
}
.card .span-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(168, 168, 168);
  float: inline-end;
}

.card-detail {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  margin: 20px;
  padding: 15px;
  background-color: rgb(240, 238, 238);
  border-radius: 10px;
  box-sizing: content-box;
  filter: drop-shadow(-1px 0px 5px #868585);
  height: fit-content;
  width: 80%;
}
.card-detail span {
  text-align: center;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}
.card-detail p {
  margin: 10px;
  font-size: 15px;
}

@media (min-width: 360px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: 20px;
    padding: 15px;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    box-sizing: content-box;
    filter: drop-shadow(-1px 0px 5px #868585);
    overflow: auto;
  }
  .card span {
    text-align: center;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  .card p {
    margin: 10px;
    font-size: 15px;
  }
  .card .loader {
    margin: 5px;
    padding: 2px 0px;
    border: black 1px solid;
    border-radius: 5px;
  }
  .card .span-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(168, 168, 168);
    float: inline-end;
  }
}
footer {
  text-align: center;
  background-color: #323232;
  color: white;
  padding: 20px;
  position: absolute;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  width: 80%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: none;
}
form input,
form textarea {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 30px;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}
form button {
  margin: 5px;
}

.btn-form {
  display: flex;
  padding: 10px;
  justify-content: right;
  text-decoration: none;
}
.btn-form button {
  margin: 5px;
}

.alert-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.alert-container .alert {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.alert-container-success {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.alert-container-success .alert-success {
  background-color: #a2eb90;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.alert-container-delete {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.alert-container-delete .alert-delete {
  background-color: #d87070;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.alert-container-edit {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.alert-container-edit .alert-edit {
  background-color: #f3f3f3;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.welcome {
  display: flex;
  margin: 30px;
  justify-content: space-around;
  padding: 15px;
  background-color: #E9C335;
}
.welcome img {
  width: 30%;
}
.welcome h1 {
  font-size: 50px;
  padding-top: 10%;
  text-shadow: 4px 3px 6px rgba(50, 50, 50, 0.78);
}

@media (max-width: 360px) {
  .welcome {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #E9C335;
  }
  .welcome img {
    width: 30%;
  }
  .welcome h1 {
    font-size: 2em;
    padding-top: 10%;
    text-shadow: 4px 3px 6px rgba(50, 50, 50, 0.78);
  }
}

/*# sourceMappingURL=styles.css.map */
