.nav__bar {
  background-color: #202020;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__bar img {
  height: 80px;
  border-radius: 50%;
}
.nav__bar h3 {
  font-size: 30px;
  margin: 10px;
  color: #d6d6d6;
}

.nav__bar--buttons {
  position: absolute;
  left: 80%;
}
.nav__bar--buttons a {
  text-decoration: none;
  color: #d6d6d6;
  margin: 5px;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: verdana;
}

.main {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.main select {
  width: 200px;
  height: 25px;
}

button {
  width: 70px;
  height: 30px;
  background-color: #ffee32;
  border: #d6d6d6 1px solid;
  border-radius: 5px;
}

button:hover {
  background-color: #d6d6d6;
}

.btn-details {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #202020;
  cursor: pointer;
}

.btn-details:hover {
  background-color: #ffd100;
}

.btn-card_detail {
  display: flex;
}
.btn-card_detail .btn_card {
  width: 150px;
  height: 30px;
  margin: 10px 5px;
}
.btn-card_detail .btn_card:hover {
  background-color: #ffd100;
}
.btn-card_detail .delete {
  background-color: #ee2e31;
}
.btn-card_detail .delete:hover {
  background-color: #ff3c38;
}

.container__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 10px;
  padding: 15px;
  background-color: #d6d6d6;
  border: 1px black solid;
  border-radius: 5px;
  box-sizing: content-box;
  overflow: auto;
}
.card span {
  width: 110px;
  text-align: center;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}
.card p {
  margin: 10px;
  font-size: 15px;
}
.card .loader {
  margin: 5px;
  padding: 2px 0px;
  background-color: #d6d6d6;
  border: black 1px solid;
  border-radius: 5px;
}
.card .span-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-detail {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 10px;
  padding: 15px;
  background-color: #d6d6d6;
  border: 1px black solid;
  border-radius: 5px;
  box-sizing: content-box;
  height: fit-content;
  width: 80%;
}
.card-detail span {
  width: 110px;
  text-align: center;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}
.card-detail p {
  margin: 10px;
  font-size: 15px;
}

footer {
  text-align: center;
  background-color: #202020;
  color: white;
  padding: 20px;
  position: absolute;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  width: 80%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: none;
}
form input {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 30px;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}
form button {
  margin: 5px;
}

.btn-form {
  display: flex;
  padding: 10px;
  justify-content: right;
}

/*# sourceMappingURL=styles.css.map */
