//Pallette
$navbar_color: #323232;
$font_color: #323232;
$back_color: #ECECEC;
$botton_hover: #DCCA6B;
$titles_color: #E9C335;
//font
$font_body: 'Koulen', cursive;
$title_log: 40px;
$media-size: 2em;