.nav__bar{
    background-color: $navbar_color;
    padding: 20px 20px;
    @include flex_display($direction: row, $alignment: center);

    img{
        height: 80px;
        border-radius: 50%;
    }

    h3 {
        font-size: $title_log;
        margin: 10px;
    }
}
.nav__bar--buttons{
    position: absolute;
    left: 80%;
    a{
        text-decoration: none;
        color: $link_color;
        margin: 5px;
    }
}