button {
  width: 70px;
  height: 30px;
  background-color: $titles_color;
  border-radius: 5px;
}

button:hover {
  background-color: $botton_hover
}

.btn-details {
  width: 30%;
  margin: 0 auto;
  border: 1px solid $navbar_color;
  cursor: pointer;
  border-radius: 20px;
}

.btn-details:hover {
  background-color: $botton_hover;
}

.details-button{
 margin-top: 10%;
 display: flex;
 justify-content: center;
}

.btn-card_detail {
  display: flex;

  .btn_card {
    width: 150px;
    height: 30px;
    margin: 10px 5px;
  }

  .btn_card:hover {
    background-color: $botton_hover;
  }

  .delete {
    background-color: #ee2e31;
  }

  .delete:hover {
    background-color: #ff3c38;
  }
}

.edit {
  display: none;
}
