.card {
   @include card ($direction: column);
    p{
        margin: 10px;
        font-size: 15px;
    }
    .loader{
        margin: 5px;
        padding: 2px 0px;
        background-color: $link_color;
        border: black 1px solid;
        border-radius: 5px;
    }
    .span-card{
        display: flex;
        flex-direction: row;
        justify-content:center;
    }
}

.card-detail{
  @include card ($direction: column);
  height:fit-content;
  width: 80%;
  p{
    margin: 10px;
    font-size: 15px;
}
}